.bg-navbar{
    background-color: #161b22;
}

.text-navbar{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
}

.text-navbar:hover{
    transition: 1s;
    color: #facc00;
}

.icono-toggler{
    color: #00414e;
    font-weight: bold;
    text-align: center;
}