.portfolio{
    .box-container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
        gap:1.5rem; 
        .box{
            height: 20rem;
            border-radius: .5rem;
            overflow:hidden;
            position: relative;
            box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
            img{
                height: 100%;
                width: 100%;
                object-fit: cover; 
            }
            span{
                position: absolute;
                top:0.5rem; right: 1rem;
                font-weight: bolder;
                font-size: 3rem;
                color: #00414e;
            }
            .content{
                height: 100%;
                width: 100%;
                position: absolute;
                top:6rem; left: 0;
                transition-delay: .3s;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                h3{
                    font-size: 2.5rem;
                    padding-bottom: .5rem;
                    color: #555;
                }
                p{
                    font-size: 1.5rem;
                    color: #777;
                }
            }
            &:hover{
                .content{
                    top: 0;
                    opacity: 1;
                }
            }
            &::before{
                height: 100%;
                width: 100%;
                content: '';
                position: absolute;
                top:0; left: 0;
                background: #212121;
                clip-path: circle(30% at 93% 0);
                transition: .3s linear;
            }
            &:hover{
                &::before{
                    clip-path: circle(100%);
                }
            }
        }
    }
}